


nav a:hover{
  background-color: lightblue;
  color:orange;
}

nav a:active{
  background-color: green;
  color:yellow;
}

nav a {
  text-decoration: none;
  margin:20px;
}

body{
    background-image:url("https://tr.rbxcdn.com/2e7e05d289f19fe26fc9f1fcebd8e841/768/432/Image/Png");
    background-repeat: no-repeat;
    background-size: cover;
  }

/*
h1, a, p{
  color:white;
}
*/

*{
  color:lightgray;
}

h1:first-letter{
  font-size:2em;
  
}

a[target="_blank"]{
  background-color: lightcoral;
  color:darkblue;
  
}

img {
  width:40%;
  margin:30px;
}

